// -----------------------------------------------------------------------------
//! Fonts
// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------
//! Colors
// -----------------------------------------------------------------------------

$text: #636366;
$blue: #007DB8;
$brown: #434244;
$lightbrown: #727275;
$sand: #EFECE2;
$gray: #F7F7F7;
$red: #DE615C;
$green: #607744;
$lightgreen: #6BAA75;

// -----------------------------------------------------------------------------
//! Breakpoints & Sizes
// -----------------------------------------------------------------------------

$sm: 576px;
$md: 768px;
$lg: 992px;
$desktop: 1024px;
$xl: 1200px;

$content-width-narrow: 820px;
$content-width: 1180px;
$content-width-wide: 1354px;

$pad-mobile: 1.125rem;
$pad-desktop: 2rem;