.block-links {
	background-color: $gray;
	padding: 32px 16px 40px 16px;

	@include respond( $md ) {
		padding: 72px 32px 120px;
	}
	
    h2 {
        margin-bottom: 41px;
    }

    .contain {
         @include respond( $lg, "down" ) {
            max-width: 600px;
        }
    }
    
    
    
}

.block-links .lg-2s>:nth-of-type(n+3) {
    @include respond( $lg ) {
        margin-top: 25px;
    }
}


// -----------------------------------------------------------------------------
//! Links
// -----------------------------------------------------------------------------

.block-link {
    display: flex;
    align-items: flex-end;
    background: #434244;
    padding: 30px 35px;
    text-decoration: none;
    min-height: 260px;
    position: relative;
    overflow: hidden;
    background-size: cover;
	background-position: center center;
	background-repeat: none;

    h3 {
        color: #fff;
    }

    p {
        color: #fff;
        margin-top: 5px;
    }

    > svg {
        position: absolute;
        bottom: 16px;
        right: 16px;
        color: #fff;
        z-index: 5;
    }

    .content {
        max-width: 80%;
        z-index: 3;
    }

    &:hover {
        text-decoration: none;
    }
}

.block-link:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    bottom:0;
    left:0;
    right:0;
    height:75%;
    opacity: 0.75;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 21.88%, rgba(0, 0, 0, 0.4) 80.73%);
}

.block-link:after {
    content: "";
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    top: 100%;
    left: 100%;
    margin-left: -63px;
    margin-top: -63px;
    z-index: 3;
    background-color: $light-blue;
}

.block-link:hover:before {

}
.block-link:hover .block-link-bg {
	opacity: 0;
}