.hamburger {
	height: 40px;
	padding:0 16px;
	background:transparent;
	cursor: pointer;
	border:none;
	&::before,
	&::after,
	div {
		content: '';
		background-color: $green;
		border-radius: 0;
		display: block;
		height: 3px;
		margin: 5px 0;
		transition: all .2s ease-in-out;
	}
	div {
		width: 20px;
	}
	&.is-active{
		&::before {
		  transform: translateY(8px) rotate(135deg);
		}

		&::after {
		  transform: translateY(-8px) rotate(-135deg);
		}
		div {
		 transform: scale(0);
		}
	}
	
	&[arial-controls='desktop-nav'] {
		display: none;
		position: relative;
		z-index: 555;
		
		div {
			width: 40px;
		}
		
		&.is-active {
			
			&:before,
			&:after  {
				background-color: #fff;
			}
		}
		
	}
	
	@include respond($desktop) {
		&[arial-controls='mobile-nav'] {
			display: none;
		}
		&[arial-controls='desktop-nav'] {
			display: block;
		}
	}
}
