
// -----------------------------------------------------------------------------
//! Container
// -----------------------------------------------------------------------------

.in-touch .contain {
    @include respond( $lg ) {
        display: flex;
    }
}


// -----------------------------------------------------------------------------
//! Title
// -----------------------------------------------------------------------------

.in-touch-title {
    flex: 0 1 363px;
}


// -----------------------------------------------------------------------------
//! Body
// -----------------------------------------------------------------------------

.in-touch-body {
    flex: 0 1 807px;
    margin-top: 32px;

    @include respond( $md ) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    @include respond( $lg ) {
        padding-left: 30px;
        margin-top: 20px;
    }
}


// -----------------------------------------------------------------------------
//! Items
// -----------------------------------------------------------------------------

.in-touch-item {
    display: flex;

    h3 svg  {
        margin-left: 13px;
    }

    .icon {
        flex: 0 0 65px;

        img,
        svg {
            max-height: 32px;
            max-width: 32px;
        }
    }

     @include respond( $md, "down" ) {
        + .in-touch-item {
            margin-top: 1.5rem;
        }
    }

    @include respond( $md ) {
        flex: 0 0 45%;
        max-width: 335px;

        &:nth-child(n+3) {
            margin-top: 37px;
        }
    }
}