
@include respond( $desktop, "down" ) {
	.desktop-nav {
		position: absolute;
		z-index: -5;
		transform: translateX(-200%);
		transform: translateX(-200vh);
	}
	
}


// -----------------------------------------------------------------------------
//! Nav
// -----------------------------------------------------------------------------

	
	.desktop-nav {
		position: absolute;
		padding-right: 590px;
		z-index: -1;
		top: 0;
		right: 0;
		visibility: hidden;
		opacity: 0;
		transition: .3s ease;
	}
	
	.nav-open .desktop-nav {
		z-index: 5;
		opacity: 1;
		visibility: visible;
	}

	.desktop-nav .nav {
		position: relative;
		background: #2068A9;
        display: flex;
		flex-direction: column;
        list-style-type: none;
		padding: 3.5rem 0;

        + .nav {
            margin-top: 19px;
        }
	}

// -----------------------------------------------------------------------------
//! Items
// -----------------------------------------------------------------------------


	.desktop-nav .main-nav {
		> li {
			background: #2068A9;
			
	
			> a {
				padding: 1.45rem 5.5rem 1.45rem 2.5rem;
				position: relative;
				display: block;
				color: #fff;
				font-size: 18px;
            	line-height: 24px;
				font-weight: 700;
				text-transform: uppercase;
				text-decoration: none;
	
				&:hover {
					color: $orange;
				}
			}
			
			&:hover {
				> ul.sub-menu {
					visibility: visible;
				}
			}
			
		&:hover,
		&.current-menu-parent {
			> a {
				color: $orange;
			}
		}
			
		}
	}

// -----------------------------------------------------------------------------
//! Current item state
// -----------------------------------------------------------------------------


	.main-nav li.current-menu-item a {
		color: $orange;
	}


// -----------------------------------------------------------------------------
//! Sub menus
// -----------------------------------------------------------------------------

	.main-nav > li > .sub-menu {
		visibility: hidden;
		opacity: 0;
		// top: 0;
		// bottom: 0;
		// right: 0;
		right: 0;
		left: 100%;
		top: 0;
		//bottom: 0;
		padding: 54px 0 30px;
		margin:0;
		list-style: none;
		z-index: 100;
		width: 590px;
		li {
			display: block;
			padding: 15px 57px;
			margin:0;
		}
		li {
			a {
				display: inline-block;
				font-size: 26px;
				line-height: 30px;
				font-weight: 600;
				color: #fff;
				padding-top: 3px;
				span {
					display: inline-block;
				position: relative;
					&:after {
						content: '';
						display: block;
						margin-top: 5px;
						width: 100%;
						height: 2px;
						background-color: transparent;
					}
				}
				&:hover{
					color: $orange;
					text-decoration: underline;
					span:after {
						background-color: $orange;
					}
				}
			}
		&.current-menu-item a span {
			color: $orange;
			text-decoration: underline;
			span:after {
				background-color: $orange;
			}
		}
		}
		
	&:first-child {
		visibility: visible;
		opacity: 1;
	}
		
	}
	
	
	
	.main-nav > li > .sub-menu > li > .sub-menu {
		display: block;
		position: relative;
		background-color: $gray;
	    margin-top: .6rem;
	    padding: 0.7rem .5rem;
		li {
			padding:4px 0;
			a {
				font-size:14px;
				line-height: 16px;
			}
		}
	}
